<div class="container mt-2">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
      <li class="nav-item-active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="greet">Greet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="myForm">My-Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="friend">Friend</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="coffee">Coffee-shop</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <router-outlet></router-outlet>
</div>
